<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Maid-chan</title>
    <meta name="description" content="">
    <link id="favicon" rel="icon" href="https://media.discordapp.net/attachments/459198144052330498/691176706291007528/1fdc3af223a14752150b3d8d963a7f07.webp" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="propeller" content="ecea65d5e82d14a0a2789564912a70d9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6435c9">
    <meta property="og:image" content="https://media.discordapp.net/attachments/459198144052330498/691176706291007528/1fdc3af223a14752150b3d8d963a7f07.webp">
    <link rel="apple-touch-icon" href="https://media.discordapp.net/attachments/459198144052330498/691176706291007528/1fdc3af223a14752150b3d8d963a7f07.webp">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/459198144052330498/691176706291007528/1fdc3af223a14752150b3d8d963a7f07.webp" type="image/x-icon">
    <%- include("partials/links") %>
  </head>
  <body>
    <%- include("partials/header") %>
    <p>
      <%- bot.guilds.cache.size %>
    </p>
  </body>
</html>